<!DOCTYPE html>
<html lang="en">

<head th:insert="fragments/header" />

<body>

<nav th:insert="fragments/nav"></nav>

<!-- Page Content -->
<div class="container">

    <div class="row">
        <div class="col">
            <h1>Your order is now complete</h1>
            <p>You should pay in cash or by card upon delivery</p>
            <p>Thanks for placing an order with Cake Factory!</p>
        </div>
    </div>

    <!-- /.row -->

</div>
<!-- /.container -->

<div th:insert="fragments/footer"></div>

</body>

</html>
